# started with just matplotlib
matplotlib
# added numpy, scipy, and pandas along with matplotlib for seaborn
numpy
scipy
pandas
seaborn
# for advanced regression plots
statsmodels
# for clustering large matrices
fastcluster

# now sphinx
sphinx
sphinx-autobuild
sphinx-jinja
sphinxcontrib-confluencebuilder
sphinxcontrib-plantuml

# now add some themes
sphinx_bootstrap_theme
sphinx-rtd-theme
Flask-Sphinx-Themes
